{% extends 'people/index.html' %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body Tab150">
                    <p>
                        <label>Имя:</label>
                    </p>
                    <p>
                        <input maxlength="20" name="name" type="text" value="{{ man.name }}">
                    </p>
                    <p>
                        <label>Фамилия:</label>
                    </p>
                    <p>
                        <input maxlength="20" name="surname" type="text"  value="{{ man.surname }}">
                    </p>
                    <p>
                        <label>Отчество:</label>
                    </p>
                    <p>
                        <input maxlength="20" name="patronymic" type="text"  value="{{ man.patronymic }}">
                    </p>
                    <p>
                        <label>Должность:</label>
                    </p>
                    <p>
                        <input maxlength="20" name="position" type="text"  value="{{ man.position }}">
                    </p>
                    <p>
                        <label>Начальник:</label>
                    </p>
                    <p>
                        <select  name="boss" type="text">
                            <option value="{{ null }}"></option>
                            {% for m in mans %}
                            <option value="{{m.id}}">{{ m }}}</option>
                            {%  endfor %}
                        </select>
                    </p>
                    <p><b>текущее фото:

                    {% if man.image  %}
                        </b>{{ man.image }}</p>
                        <img  src="{{ MEDIA_URL }}{{ man.image.url }}" class="img-rounded Px100">
                    {% endif %}

                    <hr>

                    <p>выберете фото</p>
                    <p><input type="file" name="image"></p>

                    <button type="submit" class="btn btn-default">Сохранить</button>
                    <a href="/company/" class="btn btn-default">Не добавлять</a>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
